 $hamburger-width                           : 24px;
 $hamburger-height                          : 31px;
 $hamburger-bg-color                        : #ffffff;
 $hamburger-border-radius                   : 5px;


.hamburger {
  position: relative;
  display: none;
  width: $hamburger-width;
  height: $hamburger-height;
  margin-left: 20px;
  float: right;
  position: relative;
  z-index: 999;
  cursor: pointer;

  @include tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hamburger__line {
  width: 100%;
  height: 4px;
  margin: 0 0 6px 0;
  background: $hamburger-bg-color ;
  border-radius: $hamburger-border-radius;
  transition:  transform 0.3s, opacity 0.1s;
  &:last-child {
    margin-bottom: 0;
  }
}

.hamburger__line_hide-js {
  opacity: 0;
  transform:  translateX(-42px);
}

.hamburger__line_top-js {
  position: absolute;
  top: 0;
  transform: rotate(45deg) translateY(17px);
}

.hamburger__line_bottom-js {
  position: absolute;
  bottom: 4px;
  transform: rotate(-45deg) translateY(-17px);
}