.slogan {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: rem(650px);
    background-image: url("/img/texture.png");
    background-size: cover;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: rem(12px);
}

.header__logo {
  margin-right: auto;
}

.logo {
  display: inline-block;
}

.logo__img {
  max-width: rem(92px);
  max-height: rem(69px);
}

.header__menu {
  flex: 1;
  text-align: right;
  margin-right: rem(20px);
  @include tablets {
    display: none;
  }
}

.navigation {
  display: inline-block;
  vertical-align: middle;
}

.navigation__list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navigation__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  &:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    @include circle(rem(4px), #ffffff);
    margin: 0 rem(12px);
  }
    &:last-child:after {
      display: none;
    }
}

.navigation__link {
  display: inline-block;
  vertical-align: middle;
  font-size: rem(13px);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  transition: .5s;
  &:hover {
    text-decoration: underline;
  }
}

.header__btn {
  display: flex;
  align-items: center;
}

.composition {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15%;
}

.composition__content {
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    padding: 0 rem(63px);
  }

  @include mobile {
    padding: 0;
  }
}

.composition__img {
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.composition__picture,
.composition__call {
  width: 50%;

  @include tablets {
    width: 100%;
  }
}

.composition__call {
  padding-top: rem(114px);

  @include tablets {
    text-align: center;
    padding-top: 0;
  }
}

.section-title {
  margin: 0;
  font-family: gagalin;
  font-size: rem(72px);
  font-weight: 400;
  color: $yellow;
}

.composition__text {
  margin: 0;
  font-family: lifehack;
  color: #ffffff;
  font-size: rem(65px);
  font-weight: 500;
  line-height: 100%;

  @include mobile {
    font-size: rem(54px) ;
  }
}

.bottom-arrow {
  position: absolute;
  bottom: 6%;
  display: flex;
  justify-content: center;
  width: 100%;


  @include tablets {
    margin-bottom: 0;
    bottom: 3%;
  }

  @include mobile {
    margin-bottom: 0;
    bottom: 2%;
  }
}

.arrow-scroll {
  width: rem(29px);
  height: rem(14px);
  fill: #ededed;
}

.bottom-arrow__link {
  display: block;
}


