.thebest {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.thebest__container {
  padding-top: rem(55px);

  @include mobile {
    padding-top: 0;
  }
}

.section-title_best {
  color: $gray;
  padding: 0;
  margin-bottom: rem(28px);
  text-align: center;

  @include mobile {
    margin-bottom: 0;
    font-size: rem(50px);
  }
}

.meal {
  display: flex;
  align-items: baseline;

  @include mobile {
    flex-direction: column;
  }
}

.meal__item {
  flex: 0 0 calc(100% / 3);
  text-align: center;
  padding-right: rem(7px);

  @include mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.meal__icon {

  @include mobile {
    margin-right: rem(28px);
  }
}

.meal__img {
  margin: 0;
  width: rem(97px);
  height: auto;
}

.meat {
  fill: #e25028
}

.hand {
  fill: #f8b43a
}

.natural {
  fill: #8ac03e
}

.meal__title {
  display: block;
  margin-bottom: rem(17px);
  color: $gray;
  font-family: lifehack;
  font-size: rem(24px);
  font-weight: 500;
  line-height: 1.16;
}

.meal__text {
  p {
    margin: 0;
    font-size: rem(14px);
    font-weight: 300;
    color: $gray;
    opacity: 0.8;
  }


  @include mobile {
    text-align: left;
  }
}

