html {
  font-size: 16px;

  @include tablets {
    font-size: 15px;
  }

  @include mobile {
    font-size: 14px;
  }
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: $dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.noScroll {
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: rem(1px);
  height: rem(1px);
  margin: rem(-1px);
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}