@font-face {
  font-family: 'gagalin';
  src: url('../fonts/Gagalin/gagalinRegular.woff') format('woff');
}

@font-face {
  font-family: 'lifehack';
  src: url('../fonts/LifehackMedium/lifehackMedium.woff') format('woff');
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu/ubuntuRegular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu/ubuntuMedium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu/ubuntuBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu/ubuntuLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}