@font-face
	font-family: 'gagalin'
	src: url('../fonts/Gagalin/gagalinRegular.woff') format('woff')

@font-face
	font-family: 'lifehack-ex'
	src: url('../fonts/LifehackMedium/lifehackMedium.woff') format('woff')

@font-face
	font-family: 'ubuntu-ex'
	src: url('../fonts/Ubuntu/UbuntuRegular/ubuntuRegular.woff') format('woff')

@font-face
	font-family: 'ubuntu-ex'
	src: url('../fonts/Ubuntu/UbuntuBold/ubuntuBold.woff', bold) format('woff')

@font-face
	font-family: 'ubuntu-ex'
	src: url('../fonts/Ubuntu/UbuntuLight/ubuntuLight.woff', 300) format('woff')

@font-face
	font-family: 'ubuntu-ex'
	src: url('../fonts/Ubuntu/UbuntuMedium/ubuntuMedium.woff') format('woff')





